:root {
    --petrol: #009688;
    --light-green: #D5F9BA;
    --white: #FFFFFF;
    --azure: #8EDAFC;
    --light-grey: #e9ebeb;
    --grey: #B1B1B1;
    --light-yellow: #F3EEEA;
    --font-xs: 0.7rem;
}



.my-f-xs {
    font-size: var(--font-xs);
}

.my-bg-light-yellow {
    background-color: var(--light-yellow);
}

.my-azure {
    color: var(--azure);
}

.my-grey {
    color: var(--grey);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

/* .text-nowrap {
    width: ?px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.profile-image {
    width: 50px;
    height: 50px;
}

.image-notification {
    width: 50px;
    height: 50px;
    background-color: var(--white);
}

#app {
    width: 100%;
    height: 100vh;
}

header {
    background-color: var(--petrol);
    height: 145px;
}

footer {
    height: calc(100vh - 145px);
}

main {
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* parte sinistra */
.left {
    width: 40%;
    height: 100%;
}

#personal-account {
    height: 70px;
    width: 100%;
    background-color: var(--light-grey);
}

#notification-msg {
    height: 80px;
    width: 100%;
    background-color: var(--azure);
}

#search-contact {
    height: 50px;
    width: 100%;
    background-color: var(--white);
}

#list-person {
    width: 100%;
    height: calc(100% - 200px);
    overflow: auto;
}

/* icone parte left */
i {
    color: var(--grey);
}

#lens {
    width: 20%;
    line-height: 50px;
}

#serch-lens-input {
    width: 80%;
    height: 80%;
    border: 0px solid;
}

#icons {
    width: 20%;
    height: 100%;
    line-height: 70px;
}

/* parte destra */
.right {
    width: 60%;
    height: 100%;
}

.contact {
    height: 70px;
    width: 100%;
    background-color: var(--white);
}

/* icone parte right */
#icon-audio {
    width: 10%;
    height: 100%;
    line-height: 70px;
}

#send-msg-input {
    height: 50px;
    width: 100%;
    background-color: var(--white);
    border: 0px solid;
}


/* chat */
#chat {
    width: 100%;
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.hour-data {
    bottom: 5px;
    right: 10px;
}

#chat .sent {
    background-color: var(--light-green);
    border-radius: 1rem;
    padding: 1.2em;
    width: max-content;
    align-self: flex-end;
}

#chat .received {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.2rem;
    width: max-content;
    align-self: flex-start;
}

.contact:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}

.active {
    background-color: var(--grey);
}

.delete {
    top: 5px;
    right: 10px;
}

.box-menu {
    background-color: var(--light-grey);
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 0 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 20px;
    right: 0;
    cursor: pointer;
}